form{
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: auto;
    border: 1px solid blue;
    border-radius: 5px;
    padding: 1.5em;
    box-shadow: 2px 2px rgb(0,0,255);
}

input{
    margin-bottom: 1.5em;
    height: 1.8em;
}

label{
    color: blue;
}

input[type='submit']{
    background-color: blue;
    color: white;
    height: 1.8em;
    border-radius: 5px;
}
